body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* first container csss */
.container-1 {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: -4px 44px 44px 44px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

a {
    text-decoration: none;
    color: #ffffff;
}

/* second container css */
.image {
    background-color: #4d4d4d;
 
}

.signup-1 {
    background-color: lightblue;
    color: white;
}

/* third container css */
.container-3 {
    background-color: #eeeeee;
}

/* fourth container css */
.container-4 {
    background-color: #00bbee;
}

.signup-2 {
    background-color: #00bbee;
    color: white;
}

/* footer */
.footer {
    background-color: #2d2d47;
    color: white;
}